{{> header pageBlog="true"}}

<article class="blog-post">
  <h2 class="blog-post-title"><a href="/{{path}}">{{ title }}</a></h2>
  <div class="blog-post-meta">
    {{formatDate date  day="numeric" month="long" year="numeric" }}
  {{#if xpost}}
  | cross-posted on <a href="{{xpost.link}}">{{xpost.name}}</a>
  {{/if}}
  </div>

  {{{ contents }}}

  <span class="blog-post-meta">/comments on <a href="https://twitter.com/disnet">twitter</a></span>
</article>

{{> footer }}
